body {
	font-family: Arial, Helvetica, sans-serif;
	width: 66%;
}

#topBar {
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #99ccff;
}

#messageBar {
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #f7b0ed;
}


table {
  border-collapse: separate;
  border-spacing: 10px 5px;
}

th, td {
	border-bottom: 1px solid #99ccff;
}